@font-face {
  font-family: "Iosevka Fixed Slab Extralight";
  src: url(assets/iosevka-fixed-slab-extralight.ttf);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #F9F7F4;
}

body {
  font-family: "Iosevka Fixed Slab Extralight";
  background-color: #0D0D0D;
  color: #F9F7F4;
  position: fixed;
}

.main_header {
  color: #DD1F24;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-blend-mode: hard-light;
}

.sub_info {
  color: #F9F7F4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-blend-mode: hard-light;
}

.sub_header {
  color: #F9F7F4;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-blend-mode: color-burn;
}